.avatar {
    border-radius: 50%;
}

.channel-category{
    padding-top: 5px;
}

.channel-row{
    border-radius:8px;
}

.channel-row:selected{
    background-color: #f25858ff;
    color:#404040;
}

.h1 { font-size: 2em;    font-weight: bold; }
.h2 { font-size: 1.5em;  font-weight: bold; }
.h3 { font-size: 1.17em; font-weight: bold; }
.h4 { font-size: 1em;    font-weight: bold; }
.h5 { font-size: 0.83em; font-weight: bold; }
.h6 { font-size: 0.67em; font-weight: bold; }


.toptabs{
    border-radius:8px;
    padding:8px;
}
.toptabs:selected{
    background-color: #f25858ff;
    color:#404040;
}